.WHealth-GridSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(215, 235, 180);
   padding: 10px;
   width: auto;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   border-color: rgb(50, 50, 0);
}

.employees-grid {
   max-width: 1500px;
   padding: 10px;
}
