// HEADER
#WHealth-Header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   width: 100%;
   height: 75px;
   background-color: rgb(105 150 30);
}
// WEALTHHEALTH LOGO
#WHealth-Logo-Container {
   display: flex;
   justify-content: center;
   border-style: solid;
   border-color: rgb(50, 50, 0);
   border-width: 1px;
   border-radius: 10px;
}
#WHealth-Logo {
   // margin: 10px;
   border-radius: 10px;
   // width: 90px;
   width: 75px;
   // height: auto;
   height: 75px;
   cursor: pointer;
}
// WEALTHHEALTH LINK BTN
#WHealth-LinkBtn {
   display: flex;
   align-items: center;
   // height: 100%;
   background-color: white;
   text-decoration: none;
   font-weight: 700;
   font-size: 15px;
   color: rgb(50, 50, 0);
   margin: 20px;
   border-radius: 5px;
   padding: 10px;
   border-style: solid;
   border-color: rgb(50, 50, 0);
   border-width: 1px;
}
