:root {
   font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
   font-weight: 400;
   letter-spacing: 1px;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
