// #validationModal {
//    display: block;
//    position: absolute;
//    z-index: 999;
//    width: 80%;
//    height: 80%;
//    background-color: rgb(210, 250, 225);
//    border-radius: 10px;
//    top: 50%;
//    left: 50%;
//    right: auto;
//    bottom: auto;
//    margin-right: -50%;
//    transform: translate(-50%, -50%);
//    border-style: solid;
//    border-color: black;
//    border-width: 2px;
// }
// #closeValidationModal {
//    position: relative;
//    top: 5px;
//    left: calc(100% - 30px);
//    width: 25px;
//    height: 25px;
//    background-color: white;
//    border-radius: 7.5px;
//    border-style: solid;
//    border-width: 2px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
// }
// #closeValidationModal::before,
// #closeValidationModal::after {
//    background-color: red;
//    position: absolute;
//    width: 17px;
//    height: 2px;
//    content: "";
// }
// #closeValidationModal::before {
//    transform: rotate(45deg);
// }
// #closeValidationModal::after {
//    transform: rotate(-45deg);
// }
// #confirmation {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    height: 75%;
//    font-weight: 700;
//    font-size: 24px;
// }

main {
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   width: 1500px;
   height: 100vh;
   left: 50%;
   transform: translate(-50%);
}
h1 {
   margin: 25px;
   background-color: white;
   border-radius: 5px;
   padding: 10px 100px;
}
h2 {
   margin-bottom: 5px !important;
}
.CreateEmployeeTitle {
   margin: 15px;
   background-color: aquamarine;
   border-radius: 5px;
   padding: 5px 25px;
}
input,
select,
button {
   height: 25px;
   padding: 0 5px 0 5px;
   border-radius: 5px;
   border-width: 1px;
   border-color: black;
   cursor: pointer;
   margin-bottom: 5px;
   font-size: 15px;
}
fieldset {
   border-style: dashed;
   border-color: black;
   border-width: 1px;
   border-radius: 5px;
}
a {
   background-color: rgb(0, 0, 0);
   text-decoration: underline;
   font-style: italic;
   font-weight: 600;
   color: rgb(150, 0, 0);
   border-radius: 5px;
   padding: 3px;
}
.Interface {
   background-color: rgb(125, 125, 125);
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

/////////////////////////////////////////
/// SECTION
/////////////////////////////////////////
.CreateEmployees {
   margin-top: 20px;
   padding: 20px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 500px;
   background-color: rgb(200, 200, 200);
   border-radius: 10px;
}
/////////////////////////////////////////
/// FORMULAIRE
/////////////////////////////////////////
#create-employee {
   display: flex;
   flex-direction: column;
   width: 300px;
   margin-top: 25px;
}
#create-employee label,
#create-employee legend {
   font-weight: 600;
}
#create-employee ::placeholder {
   color: black;
}
/////////////////////////////////////////
/// FIELDSET (CHAMP D'ADRESSE)
/////////////////////////////////////////
.FieldsetAddress {
   display: flex;
   flex-direction: column;
   padding: 5px 10px 10px;
   border-color: black;
}
.FieldsetAddress input {
   width: 100%;
}
#state,
#department {
   padding: 5px;
   height: 27px;
   border-radius: 5px;
   border-width: 1px;
   border-color: black;
}

/////////////////////////////////////////
/// SAVE BUTTON
/////////////////////////////////////////
.btn-div {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
#save-button {
   margin-top: 10px;
   width: 100px;
   font-weight: 600;
   background-color: aquamarine;
}
#save-button:hover {
   background-color: chartreuse;
}

.HrnetEdits {
   cursor: pointer;
   caret-color: transparent;
   width: 100%;
}

//
// DROPDOWN NPM
//
.Dropdown-root {
   margin-bottom: 5px;
}
.Dropdown-control {
   padding: 5px !important;
   height: 27px;
   border-radius: 5px !important;
   display: flex;
   align-items: center;
   cursor: pointer !important;
}
.Dropdown-placeholder {
   color: black !important;
   font-style: italic;
}
.Dropdown-menu {
   border-radius: 5px !important;
}
.Dropdown-arrow {
   right: 8px !important;
   top: 12px !important;
}
.Dropdown-option {
   display: flex !important;
   align-items: center !important;
   height: 27px !important;
   color: black !important;
}
